/* tailwind middleware */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainWidth{
    max-width: 1440px;
    margin: 0 auto;
}

img, video {
    max-width: 100%;
    height: 200px;
}

 
.swiper {
    width: 1000px;
    height: 400px;
}
@media screen and (max-width: 300px) {
    .swiper {
        max-width: 250px;
         overflow: hidden;
    }
 
}

.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    display: none;
}